---
import { navigationConfig } from '../../data/navigation-config';
import { Header } from '../components/header';
import { Navigation } from '../components/navigation';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<header>
		<Navigation config={navigationConfig.getConfig()} />
	</header>
	<main>
		<Header title="Articles" />
	</main>
</Layout>
